@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto';
    margin: 0;
}

header {
    background-color: #1f2937;
    padding: 8px 400px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-text {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

.navlinks {
    font-size: 18px;
    color: #e5e7eb;
}

.navlinks ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 30px;
}

.navlinks ul li a:hover {
    color: #9fa1a3;
}

.navlinks ul li a{
    text-decoration: none;
    color: inherit;
}

.hero-section {
    display: flex;
    padding: 100px 0;
    gap: 50px;
}

.hero-section .text .main-text{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-section .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.hero-section .text .secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-section .text .signup-button {
    background-color: #3882f6;
    color: #e5e7eb;
    font-size: 18px;
    padding: 10px;
    width: 100px;
    border: none;
    border-radius: 28px;
}

.hero-section .image img {
    flex: 2 1 auto;
    height: 300px;
}

.info {
    padding: 100px 0;
    gap: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info .info-heading {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.info .games {
    display: flex;
    justify-content: space-between;
    width: 750px;
}

.info .games .game {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.info .games .game .thumbnail img {
    height: 100px;
    border: #3882f6 5px solid;
}

.quote {
    background-color: #e5e7eb;
    padding: 100px 500px;
}

.quote .text {
    font-size: 36px;
    color: #1f2937;
}

.quote .author {
    padding-top: 20px;
    text-align: right;
    font-size: 24px;
}

.call-to-action {
    margin: 100px 400px;
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
    background-color: #3882f6;
    border-radius: 20px;
    color: #e5e7eb;
}

.call-to-action .text .header {
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 5px;
}

.call-to-action .text .secondary {
    font-size: 18px;
}

.call-to-action .signup {
    color: #e5e7eb;
    padding: 5px 50px;
    font-size: 18px;
    font-weight: 900;
    background-color: transparent;
    border: #e5e7eb 3px solid;
    border-radius: 10px;
}

footer {
    background-color: #1f2937;
    color: #f9faf8;
    text-align: center;
    padding: 50px 0;
    font-size: 24px;
}